/* * {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hide {
  display: none !important;
} */

.btn-signin-google {
  background-color: #ea4335!important;
  color: #fff!important;
}

.btn-signin-google:hover {
  background-color: #ea4335;
  color: #fff;
  filter: brightness(0.9);
}

.btn-transparent {
  border-color: transparent !important;
}
.btn-transparent:active {
  background-color: #091E424F;
  color: #172B4D;
}
.btn-transparent:focus, .btn-transparent:focus {
  outline: 0;
  border-color: none !important;
}
.btn-transparent:hover, .btn-transparent:hover {
  background-color: #091E4224;
  color: #44546F;
}